<h1>Quotes#edit</h1>

<%= form_for @quote do |f| %>
    <%= f.text_field :topic, {placeholder: "Topic"} %>
<br />
<%= f.text_area :body, {placeholder: "Body"} %>
<br />
<%= f.text_field :fp_pos, {placeholder: "Fanny Pank Position"} %>
<br />
<%= f.submit %>
<% end %>
<%= link_to 'Cancel', quote_path %>
<%= link_to 'Delete', quote_path, method: 'delete' %>